<form  [formGroup]="searchForm" #searchNgForm="ngForm">

  <mat-form-field appearance="outline">
    <mat-label>Date from</mat-label>
    <input matInput [matDatepicker]="pickerFrom" [formControlName]="'dateFrom'" [(ngModel)]="dateFrom">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date to</mat-label>
    <input matInput [matDatepicker]="pickerTo" [formControlName]="'dateTo'" [(ngModel)]="dateTo">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <button (click)="getAllForPieChart('sumOfTotalSalePrice')" mat-raised-button color="primary">
    <mat-icon>search</mat-icon>
    Search
  </button>
  
  <button (click)="searchForm.reset(); productId = undefined; dateFrom = undefined; dateTo = undefined" mat-raised-button color="primary">
    <mat-icon>clear</mat-icon>
    Reset filters
  </button>

</form>

<div id="chart">
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels!"
    [responsive]="chartOptions.responsive!"
  ></apx-chart>
</div>

<!-- <button (click)="getAllForPieChart('profit')" mat-raised-button color="primary">
  <mat-icon>attach_money</mat-icon>
  Profit
</button> -->

<button (click)="getAllForPieChart('sumOfTotalSalePrice')" mat-raised-button color="primary">
  <mat-icon>money</mat-icon>
  Revenue
</button>

<button (click)="getAllForPieChart('sumOfSales')" mat-raised-button color="primary">
  <mat-icon>transform</mat-icon>
  Number of Transactions
</button>

<button (click)="getAllForPieChart('sumOfUnits')" mat-raised-button color="primary">
  <mat-icon>laptop</mat-icon>
  Sold Units
</button>