<div>
  <mat-card>
    <form  [formGroup]="loginForm" #loginNgForm="ngForm">

      <mat-card>
        <mat-card-content>
          <b>Store management app</b>
        </mat-card-content>
      </mat-card>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Username: </mat-label>
        <input matInput type="text" [formControlName]="'username'"
            [(ngModel)]="body.username">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password: </mat-label>
        <input matInput type="password" [formControlName]="'password'"
            [(ngModel)]="body.password">
      </mat-form-field>

      <button (click)="login()" mat-raised-button color="primary">
        <mat-icon>login</mat-icon>
        Login
      </button>

    </form>
  </mat-card>
</div>