<form  [formGroup]="mainForm" #mainNgForm="ngForm">
  
  <div>
    <h2>Add company</h2>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Name: </mat-label>
      <input matInput type="text" [formControlName]="'name'"
          [(ngModel)]="body!.name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address: </mat-label>
      <input matInput type="text" [formControlName]="'address'"
          [(ngModel)]="body!.address">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>phone: </mat-label>
      <input matInput type="phone" [formControlName]="'phone'"
          [(ngModel)]="body!.phone">
    </mat-form-field>
  </div>
  
  <div class="button-container">
    <button (click)="this.dialogRef.close(false)" mat-raised-button>
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
    <button (click)="addCompany()" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>

</form> 